.min-vh-90 {
    min-height: 92vh;
}
.bg-photo {
    background: url('../../assets/bg-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pointer {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}